<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
<head>
  <%- include('../../ejsinc/head') %>
  <title>プライバシーについて | ビビッドカラーズ</title>
</head>
<body>
  <%- include('../../ejsinc/header') %>
  <article>
    <div class="cover s-privacy-cover">
      <div class="columns">
        <div class="column-l"></div>
        <div class="column-abc">
          <div class="title">
            <div class="s-title-inner">
              <h1><span class="en">PRIVACY</span> プライバシーについて</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section>
      <div class="columns">
        <div class="column-l"></div>
        <div class="column-abc">
          <h2 class="cyan-colored">個人情報保護方針</h2>
          <p>1. ビビッドカラーズ株式会社（以下、「当社」と言います）は、個人情報をお預かりする際には、その取得目的を明らかにして、個人情報の適切な取得・利用・提供を行い、利用目的の達成に必要な範囲を超えた個人情報の取扱い（目的外利用）は行いません。また、そのための適切な措置を講じます。</p>
          <p>2. 当社は個人情報の取扱いに関する法令、国が定める指針及びその他の規範を遵守致します。</p>
          <p>3. 当社は個人情報への不正アクセス、個人情報の漏えい、滅失またはき損等のリスクに対しては、合理的な安全対策を講じ、事業の実情に合致した経営資源を投入し、個人情報のセキュリティ体制を継続的に向上させて行きます。また不適切な事項については是正を行います。さらに内部規程等を改め個人情報を最善の状態で保護致します。</p>
          <p>4. 当社は個人情報の取扱いに関する苦情および相談対応への内部規程を定め、苦情および相談には、迅速かつ誠実に対応致します。</p>
        </div>
      </div>
    </section>
  </article>
  <%- include('../../ejsinc/footer') %>
</body>
</html>
