<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
<head>
  <%- include('../../ejsinc/head', {title:'お知らせ'}) %>
</head>
<body>
  <%- include('../../ejsinc/header') %>
  <article>
    <div class="cover s-news-cover">
      <div class="columns">
        <div class="column-l"></div>
        <div class="column-abc">
          <div class="title">
            <div class="s-title-inner">
              <h1><span class="en">NEWS</span><span class="ja">お知らせ</span></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section>
      <div>
          <dl class="dl-large">
            <dt>2019年8月29日</dt>
            <dd><a href="https://a-forms.com/ja/" target="_blank" onclick="return goout(arguments[0]);">見積シミュレーション・申込フォームが作れるWordPressプラグイン「AForms」</a>をリリースしました。</dd>
            <dt>2018年8月15日</dt>
            <dd><a href="https://flowy.jp/" target="_blank" onclick="return goout(arguments[0]);">ファイル送信サービス「flowy」</a>の提供を開始しました。[<a href="/assets/pdf/20180815_flowy.pdf">プレスリリース</a>]</dd>
            <dt>2018年6月29日</dt>
            <dd>当社のウェブサイトを公開しました。</dd>
            <dt>2018年6月1日</dt>
            <dd>ビビッドカラーズ株式会社を設立しました。</dd>
          </dl>
      </div>
    </section>
  </article>
  <%- include('../../ejsinc/footer') %>
</body>
</html>
