<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
<head>
  <%- include('../../ejsinc/head', {title:'システムの受託開発'}) %>
  <meta name="description" content="ビビッドカラーズでは、千葉市内・東京のお客様向けにシステムの受託開発を行っています。当社のシステム開発の特徴は、仕様変更に強いことです。柔軟なシステムをリーズナブルな料金で開発します。" />
</head>
<body>
  <%- include('../../ejsinc/header') %>
  <article>
    <div class="cover s-development-cover">
      <div class="title">
        <h1><span class="en">DEVELOPMENT</span><span class="ja">システムの受託開発</span></h1>
        <p>ビビッドカラーズでは、千葉市内・東京のお客様向けにシステムの受託開発を行っています。<br />
        当社のシステム開発の特徴は、仕様変更に強いことです。柔軟なシステムをリーズナブルな料金で開発します。</p>
      </div>
    </div>
    <section>
      <h2><span class="ja">仕様変更に強い</span><span class="en purple-colored">Flexible</span></h2>
      <div>
        <p>ビビッドカラーズが開発するシステムは仕様変更に強いのが特徴です。仕様変更に強いことには次のようなメリットがあります。</p>
        <ul class="check large">
          <li>
            細かいことを決めずに開発に着手
            <span class="desc">システムが仕様変更しやすいので、細かい調整は「出来た画面を見ながら」でOKです</span>
          </li>
          <li>
            サーバーの移転が楽
            <span class="desc">移転に伴うプログラム変更があっても、小規模な修正で対応できます</span>
          </li>
          <li>
            機能追加が速い・安い
            <span class="desc">機能追加も見方を変えれば仕様変更です。当然、速く安く実現できます</span>
          </li>
        </ul>
        <div class="hint">
          <h3>仕様変更に強い理由</h3>
          <p>ビビッドカラーズのシステム開発が仕様変更に強い理由、それはシステムの構成方法にあります。<br />
          たとえば自転車のタイヤを交換する、ブレーキを調整するといったことが簡単にできるのは、自転車が適切な部品の組み合わせで構成されているからです。<br />
          それと同じように、システムを適切な部品に選り分けて作り、それを組み合わせて構成することで、交換や調整を簡単にできるようになるのです。<br />
          もちろん、部品を上手に分けたり組んだりするには知識と経験が必要です。<p>
        </div>
      </div>
    </section>
    <section>
      <h2><span class="ja">基盤技術</span><span class="en purple-colored">Technology</span></h2>
      <p>システム開発にあたり、ビビッドカラーズは主として下記の基盤技術を利用します。<br />
      ウェブシステム、Windowsアプリ、スマホアプリ（iOS/Android）に対応できます。</p>
      <div>
        <dl class="dl-large">
          <dt>プログラミング言語</dt>
          <dd>JavaScript、TypeScript、PHP</dd>
          <dt>フレームワーク</dt>
          <dd>React、Redux、Laravel、jQuery、React Native、Electron</dd>
          <dt>データベース</dt>
          <dd>MySQL、Google Cloud Datastore</dd>
          <dt>サーバー</dt>
          <dd>GCP、AWS、各種レンタルサーバー（Linux）</dd>
          <dt>パッケージソフト</dt>
          <dd>WordPress、EC-CUBE</dd>
        </dl>
      </div>
    </section>
    <section>
      <h2><span class="ja">見積事例</span><span class="en purple-colored">Price</span></h2>
      <div>
        <p>料金は案件ごとに大きく変わる傾向があります。たとえば、同規模のシステムでもパッケージソフトを使う場合とオーダーメイドで作る場合とでは、料金が大きく変わってしまいます。<br />
        とは言え、価格感が分からないと相談しにくいのも事実。以下にビビッドカラーズの見積事例を記しますので、参考にしてください。</p>
        <table class="table">
          <tbody>
            <tr>
              <td class="head nowrap">シフト管理システムの開発<br />
              （オーダーメイド）</td>
              <td>スマホ対応のシフト管理システム（15画面のWebサービス）。PHP、MySQL、jQuery</td>
              <td class="nowrap right-aligned">320,000円<br />
              （デザイン含まず）</td>
            </tr>
            <tr>
              <td class="head nowrap">機器レンタルのECサイト開発<br />
              （パッケージ）</td>
              <td>機器レンタルのためのECサイト。EC-CUBEおよび10数個のプラグインのカスタマイズ。PHP、MySQL</td>
              <td class="nowrap right-aligned">1,280,000円<br />
              （デザイン含まず）</td>
            </tr>
            <tr>
              <td class="head nowrap">健康系SNSシステムの開発<br />
              （オーダーメイド）</td>
              <td>スマホ対応の健康系SNSシステム（30画面のWebサービス）。PHP、MySQL</td>
              <td class="nowrap right-aligned">650,000円<br />
              （デザイン含まず）</td>
            </tr>
            <tr>
              <td class="head nowrap">リフォームの注文システムの開発<br />
              （オーダーメイド）</td>
              <td>リフォームの見積シミュレーションと申込ができるサイト。WordPressと連携するサブシステムを構築。30画面・スマホ対応。PHP、MySQL、jQuery</td>
              <td class="nowrap right-aligned">300,000円<br />
              （デザイン含まず）</td>
            </tr>
            <tr>
              <td class="head nowrap">アンケートシステムの開発<br />
              （オーダーメイド）</td>
              <td>ホームページ上でアンケートを取るシステムですが、運営者側の機能が非常に複雑でした。30画面・スマホ対応。PHP、MySQL、jQuery</td>
              <td class="nowrap right-aligned">450,000円</td>
            </tr>
            <tr>
              <td class="head nowrap">名刺共有システムの開発<br />
              （オーダーメイド）</td>
              <td>社内で名刺を共有するシステム。7画面・スマホ対応。PHP、MySQL、React</td>
              <td class="nowrap right-aligned">150,000円</td>
            </tr>
            <tr>
              <td class="head nowrap">スケジュール管理システムの改修<br />
              （オーダーメイド）</td>
              <td>既存システムの改修ですが、元のシステムの作りが良くなかったのでプログラムの整理もしました。7画面・スマホ対応。PHP、MySQL、jQuery</td>
              <td class="nowrap right-aligned">180,000円</td>
            </tr>
            <tr>
              <td class="head nowrap">暮らしサポートのECシステムの開発<br />
              （パッケージ〉</td>
              <td>ホームページから注文だけでなく見積依頼も申し込めるECサイト。EC-CUBEをカスタマイズしました。画面数無数・スマホ対応。PHP、MySQL、jQuery</td>
              <td class="nowrap right-aligned">1,000,000円<br />
              （デザイン含まず）</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <div class="afterword">
        <h2><span class="ja">お問い合わせ</span><span class="en purple-colored">Contact</span></h2>
        <div>
          <p style="text-align:center;">仕様変更に強いから、リードタイムが短い、使いやすい、拡張しやすい。<br />
          ぜひご相談ください。</p>
          <div class="contact purple-colored">
            <div>
              <div class="medal"><i class="material-icons">phone</i></div>
              <div>電話でのお問い合わせ</div>
              <div><a href="tel:05052132482" onclick="gtag('event', 'click', {event_category:'contact', event_label:'tel'});"><em class="large">050-5213-2482</em></a></div>
              <div>平日9:00～18:00</div>
            </div>
            <div>
              <div class="medal"><i class="material-icons">mail</i></div>
              <div>メールでのお問い合わせ</div>
              <div><a href="/contact/" class="button large">お問い合わせフォーム</a></div>
              <div>24時間365日受付</div>
            </div>
          </div>
        </div>
    </div>
    
  </article>
  <%- include('../../ejsinc/footer') %>
</body>
</html>