<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
<head>
  <%- include('../../ejsinc/head', {title:'当社のサービス'}) %>
  <meta name="description" content="ビビッドカラーズが提供しているサービスについて。当社は、ファイル送信サービス「flowy」の自社サービスとして運営し、また千葉市および近隣の中小企業様向けにIT導入サポートサービスを行っています。" />
</head>
<body>
  <%- include('../../ejsinc/header') %>
  <article>
    <div class="cover s-services-cover">
      <div class="columns">
        <div class="column-l"></div>
        <div class="column-abc">
          <div class="title">
              <h1><span class="en">SERVICES</span><span class="ja">サービス</span></h1>
              <p>ビビッドカラーズの仕事はIT分野においてモノを作ることです。<br />
              使い心地を大事にし、「気持ちいい」と感じていただけるものを作ります。</p>
          </div>
        </div>
      </div>
    </div>
    <section>
      <h2><span class="ja">システムの受託開発</span><span class="en yellow-colored">Development</span></h2>
        <div class="with-float">
          <div class="float-right">
            <img src="/assets/img/curve-1209392_1920.jpg" alt="" style="max-width:100%;" />
          </div>
          <p>ビビッドカラーズは千葉市内・東京のお客様向けにシステムの受託開発を行っています。<br />
          当社のシステム開発の特徴は、仕様変更に強いこと。柔軟なシステムをリーズナブルな料金で開発します。</p>
          <p>仕様変更に強いから、短いリードタイムで、使いやすく拡張しやすいシステムを作れます。</p>
          <a href="development.html" class="button"><i class="material-icons">navigate_next</i> システムの受託開発について詳しく</a>
        </div>
    </section>
    <section>
      <h2><span class="ja">新規サービスの起ち上げ</span><span class="en yellow-colored">Launch</span></h2>
        <div class="with-float">
          <div class="float-right">
            <img src="/assets/img/map-3491355_1920.jpg" alt="" style="max-width:100%;" />
          </div>
          <p>ビビッドカラーズでは、新規サービスを立ち上げる創業者様のサポートを行っています。<br />
          価値あるシステムを最小・最速で作り上げ、仮説→開発→検証のサイクルを高速で回したい創業者様をサポートします。</p>
          <p>またシステムの開発・保守のみならず、企画やユーザーテストなど多方面からサービスの起ち上げをサポートできます。</p>
          <a href="launch.html" class="button"><i class="material-icons">navigate_next</i> 新規サービスの立ち上げについて詳しく</a>
        </div>
    </section>
    <section>
        <h2><span class="ja">ファイル送信サービス「flowy」</span><span class="en yellow-colored">flowy</span></h2>
        <div class="with-float">
          <div class="float-right">
            <img src="/assets/img/flowy2.png" alt="flowy" style="max-width:100%;" />
          </div>
          <p>自社で開発・運営しているファイル送信サービスです。<br />
          ビビッドカラーズはこのサービスを運営することを主目的として創立されました。</p>
          <p>受信者が他のどの手段よりも快適にファイルを受け取れること。それがflowy（フローイ）のゴールです。<br>
          flowyは、快適なファイル送受信を通して円滑なコミュニケーションを実現します。</p>
          <p>このサービスは広告掲載とアンケート実施で運営費用をまかなう予定です。</p>
          <a href="https://flowy.jp/" class="button" target="_blank" onclick="return goout(arguments[0]);"><i class="material-icons">navigate_next</i> ファイル送信サービス「flowy」</a>
        </div>
    </section>
  </article>
  <%- include('../../ejsinc/footer') %>
</body>
</html>
