<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
<head>
  <%- include('../../ejsinc/head') %>
  <title>IT導入サポート・業務効率化 | ビビッドカラーズ</title>
  <meta name="description" content="ビビッドカラーズは千葉市内および近隣の中小企業様向けにIT導入サポートを行っています。システム開発やソフトウェアの選定を通して、お客様の業務効率化や事業拡大に貢献します。" />
</head>
<body>
  <%- include('../../ejsinc/header') %>
  <article>
    <div class="cover s-it-support-cover">
      <div class="columns">
        <div class="column-l"></div>
        <div class="column-abc">
          <div class="title">
            <div class="s-title-inner">
              <h1><span class="en">IT SUPPORT</span> IT導入サポート・業務効率化</h1>
              <p>ビビッドカラーズは千葉市内および近隣の中小企業様向けにIT導入サポートを行っています。<br />
              システム開発やソフトウェアの選定を通して、お客様の業務効率化や事業拡大に貢献します。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="columns">
      <div class="column-l"></div>
        <div class="column-abc">
          <div class="feature">
            <p>「IT導入の際に準備すべきことは？」「システム開発会社の選び方は？」<br />
            お客様（発注側企業）向けに、IT導入を成功に導く基礎知識をまとめました。ぜひご覧ください。</p>
            <a href="/columns/it-success.html" class="button"><i class="material-icons">navigate_next</i> IT導入を成功させるための基礎知識</a>
          </div>
        </div>
      </div>
    </div>
    <section>
      <div class="columns">
        <div class="column-l"></div>
        <div class="column-a">
          <div class="orange-colored en">Support</div>
        </div>
        <div class="column-bc">
          <h2>発注担当者を徹底サポート</h2>
          <p>IT導入において発注側企業の担当者は、社内ではIT導入の「切り込み隊長」です。<br />
          「話がまとまらない」「既存業務の担当者のケア」など、様々な問題に対応していかなければなりません。</p>
          <p>ビビッドカラーズのエンジニアは、プログラマーおよびシステムエンジニアとして長い経歴がありますが、発注側企業の担当者としての経験も豊富です。つまり、<strong>あなたと同じ「切り込み隊長」の経験があります</strong>。あなたがどんな不安を持っているのか、どんな問題が発生するのかを知っています。</p>
          <p>ビビッドカラーズは、この経験をいかして発注側企業の担当者を徹底サポートし、新しい業務の形を「御社に適した形で」提案します。</p>
        </div>
      </div>
    </section>
    <section>
      <div class="columns">
        <div class="column-l"></div>
        <div class="column-c">
          <div class="orange-colored en">Communication</div>
        </div>
        <div class="column-ab">
          <h2>コミュニケーションを重視</h2>
          <p>ビビッドカラーズでは、オーダーメイドのシステムは社内で開発するのが基本です。自社で開発することで、仕様変更への対応や運用開始後のサポートを円滑に行い、システムをスムーズに導入し発展させていくことができます。<br />
          技術者が窓口になりますので、御社のお話がシステムにダイレクトに反映されます。</p>
          <p>また、当サービスは弊社の近隣の会社様に限って提供していますが、これにはコミュニケーションを密にする狙いがあります。弊社の<strong>技術者が御社にお伺いし、上席の方や業務担当者と直接お話</strong>いたします。ご訪問の回数に制限は設けていません。だから、近隣の会社様にしかサービスを提供できないのです。</p>
        </div>
      </div>
    </section>
    <section>
      <div class="columns">
        <div class="column-l"></div>
        <div class="column-a">
          <div class="orange-colored en">Whatever</div>
        </div>
        <div class="column-bc">
          <h2>どんなご相談でも</h2>
          <p>「業務を効率化したい」「新しい業務にチャレンジしたい」など、ITの目線でなくお客様の目線でご相談ください。<br />
          ITの導入方法は「オーダーメイドシステムの新規開発」だけではありません。<strong>Excelアプリの導入やフリーソフトの活用がベストの場合</strong>だってあります。<br />
          ビビッドカラーズのIT導入サポートは、単にシステム開発を請け負うということではなく、「業務を効率化したい」「新しい業務にチャレンジしたい」などお客様のご要望に対して最適な提案をすることに主眼を置いています。<br />
          ITで解決できそうな課題がありましたら、ぜひ、なんでもご相談ください。</p>
        </div>
      </div>
    </section>
    <section>
      <div class="columns">
        <div class="column-l"></div>
        <div class="column-abc">
          <h2 class="orange-colored">料金について</h2>
          <p>料金は案件ごとに大きく変わる傾向があります。たとえば、同規模のシステムでもオーダーメイドシステムを使う場合とパッケージソフトを使う場合では、料金が大きく変わってしまうのです。<br />
          価格感を知っていただくために、参考料金を掲載します。下記の通りです。</p>
          <table class="table">
            <tbody>
              <tr>
                <td class="head nowrap">サーバー構築</td>
                <td>VPS（仮想専有レンタルサーバー）へのWordPressとメールサーバーのセットアップ。</td>
                <td class="nowrap right-aligned">40,000円</td>
              </tr>
              <tr>
                <td class="head nowrap">シフト管理システムの開発<br />
                （オーダーメイド）</td>
                <td>スマホ対応のシフト管理システム（15画面のWebサービス）。PHP、mysql、jquery</td>
                <td class="nowrap right-aligned">320,000円</td>
              </tr>
              <tr>
                <td class="head nowrap">オンラインストレージ導入<br />
                （有料サービス）</td>
                <td>特殊な要件をお持ちのお客様のために、オンラインストレージを選定・導入しました。</td>
                <td class="nowrap right-aligned">150,000円</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <section>
      <div class="columns">
        <div class="column-l"></div>
        <div class="column-abc">
          <h2 class="orange-colored">基盤技術について</h2>
          <p>IT導入サポートを行うにあたり、ビビッドカラーズは主として下記の基盤技術を利用します。<br />
          ウェブサービス、Windowsアプリ、スマホアプリ（iOS/Android）に対応できます。</p>
          <dl class="dl-large">
            <dt>プログラミング言語</dt>
            <dd>javascript、typescript、PHP</dd>
            <dt>フレームワーク</dt>
            <dd>React、Redux、Laravel、jQuery、React Native、Electron</dd>
            <dt>データベース</dt>
            <dd>MySQL、Google Cloud Datastore</dd>
            <dt>実行環境</dt>
            <dd>GCP、AWS、各種レンタルサーバー</dd>
            <dt>ミドルウェア</dt>
            <dd>postfix、apache、nginx</dd>
            <dt>パッケージソフト</dt>
            <dd>WordPress</dd>
          </dl>
        </div>
      </div>
    </section>
    <div class="afterword">
      <div class="columns">
        <div class="column-l"></div>
        <div class="column-abc">
          <h2 class="orange-colored">お問い合わせ</h2>
          <p>IT導入サポートのご相談は電話およびお問い合わせフォームにてお待ちしています。</p>
          <p><a href="tel:05052132482" class="button"><i class="material-icons">phone</i> 05052132482</a> or <a href="/contact/" class="button"><i class="material-icons">mail</i> お問い合わせフォーム</a></p>
        </div>
      </div>
    </div>
  </article>
  <%- include('../../ejsinc/footer') %>
</body>
</html>