<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
<head>
  <%- include('../../ejsinc/head', {title:'IT導入を成功させるための基礎知識'}) %>
  <meta name="description" content="知識を身に着け適切な準備をしておくことで、IT導入の成功率は飛躍的に高めることができます。そして、あなたの会社が中小企業の場合には、大抵それは難しくありません。経験10年以上のシステムエンジニアが、その基礎知識を紹介します。" />
</head>
<body>
  <%- include('../../ejsinc/header') %>
  <article>
    <div class="cover s-it-success-cover">
      <div class="columns">
        <div class="column-l"></div>
        <div class="column-abc">
          <div class="title">
            <div class="s-title-inner">
              <h1><span class="en">KNOWLEDGE</span> IT導入を成功させるための基礎知識</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="columns">
        <div class="column-l"></div>
        <div class="column-abc">
          <p>このページを見ているということは、あなたはIT導入を検討していて、それを成功させたいと考えていることと思います。</p>
          <p>IT導入と言うと、巷では「情報システムの開発は7割が失敗」という統計があり、実際に私も「かえって業務効率が落ちた」「予定より大幅にお金がかかってしまった」「いつまで経っても納品されない」といった利用者の声を聞いたこともあります。実はこれはオーダーメイドのシステムを作った場合の話なのですが、それに限らずIT導入というのは、失敗してしまうことがあります。</p>
          <p>のっけから怖がらせるようなことを書いてしまいましたが、ご安心ください。<strong>知識を身に着け適切な準備をしておくことで、IT導入の成功率は飛躍的に高めることができます。</strong>そして、あなたの会社が中小企業の場合には、大抵それは難しくありません。</p>
          <p>この記事では、様々な立場から10年以上システムと向き合ってきたシステムエンジニアが、IT導入を成功させるための基礎知識を紹介します。</p>
        </div>
      </div>
    </div>
    <section>
      <div class="columns">
        <div class="column-l"></div>
        <div class="column-a">
          <div class="en purple-colored">Vision</div>
        </div>
        <div class="column-bc">
          <h2>ビジョンを明確に</h2>
          <p>IT導入で一番大事なのは、実はITを導入するお客様自身の準備と心構えです。導入したシステムを実際に使うのはお客様自身です。ですから、主人公であるお客様自身の準備と心構えがしっかりしていないと、ITベンダー（IT導入の受注会社）がどんなに頑張っても導入はうまくいきません。<br />
          <em>「ベンダーに丸投げ」なんてのは、一番成功しにくいパターンです。</em></p>
          <p>そこで、まず準備していただきたいのは、<strong>IT導入のビジョン</strong>です。「導入する目的は何か」「事業をどうしたいのか」を整理して、ビジョンを明確にしましょう。</p>
          <p>IT導入では、ITベンダーが「ここはどうしましょうか？」と尋ねることがよくあります。その時、ビジョン（＝目標）が明確になっていないと、「こんなことも出来たらいいな」と要らない機能にゴーサインを出してしまったり、「ここは難しいからこんなもんでいいだろう」と大事なところで妥協してしまったりといったことが起こってしまいます。そういった軸の定まっていない判断が積み重なると、「想定より高くなってしまった」「かえって業務効率が落ちた」と言われるようなイマイチなIT導入になってしまうのです。</p>
          <p>確たるビジョン（＝目標）を持つことで、必要なもの・必要でないものの区別がつくようになり、IT導入後の「あるべき姿」を浮き彫りにしていくことができます。<br />
          「出来たらいいな」という機能は後から追加することもできます。まずは、ビジョン（＝目標）を明確にして、軸の定まった判断を行うための下地を作りましょう。</p>
        </div>
      </div>
    </section>
    <section>
      <div class="columns">
        <div class="column-l"></div>
        <div class="column-c">
          <div class="en purple-colored">Communication</div>
        </div>
        <div class="column-ab">
          <h2>コミュニケーションを大事に</h2>
          <p>次に、ベンダーと接するときに心がけていただきたいことがあります。それは、<strong>お客様とベンダーのコミュニケーションを大事に</strong>することです。お客様のビジョンをベンダーと共有しましょう。<br />
          そして、上司を、業務の担当者を、ベンダーと引き合わせましょう。これは本当に大事なことでして、「発注担当者の一番大事な仕事は、ベンダーを関係者に引き合わせることだ」と言う人もいるくらいです。</p>
          <p>ベンダーは御社のビジョンを知りたがっています。ビジョンについて一番語れる人に語ってもらいましょう。<br />
          ベンダーは業務手順を知りたがっています。業務に一番詳しい人に説明してもらいましょう。<br />
          様々な関係者の話を聞かせることで、ベンダーは御社の業務とビジョンを深く理解できるようになります。深い理解に達したときに、ベンダーはお客様に最適な提案を出すことができるのです。</p>
          <p>ビジョンの準備とコミュニケーションの心構え、この2つは、実は、IT導入においてたくさんあるステップのうちの最初のステップにだけ関係しています。しかし、IT導入ではこの最初のステップで失敗しているケースが一番多いのです。最初のステップをうまく踏み出すことで、IT導入の成功率を飛躍的に高めることができるのです。</p>
        </div>
      </div>
    </section>
    <section>
      <div class="columns">
        <div class="column-l"></div>
        <div class="column-a">
          <div class="en purple-colored">Advantage</div>
        </div>
        <div class="column-bc">
          <h2>中小企業の特権</h2>
          <p>お客様が中小企業の場合には、1つ特権を持っているかもしれません。それは、上記の2つを比較的かんたんに実現できるということです。</p>
          <p>たとえばビジョンの準備ですが、大企業では、ビジョンを整理するのに会議や根回しが必要になることが予想されます。関係者が多いので、全員の合意を形成するのが大変なのですね。ですが、中小企業であれば、発案者と担当者の二人で話し合いをすれば、それで用は足りるのではないでしょうか。<br />
          関係者が少ないということはそれだけ意思決定を身軽にできるということです。意思決定を身軽にできるという中小企業の強みは、ビジョンの準備にも効力を発揮するはずです。</p>
          <p>コミュニケーションの点でも中小企業は有利かもしれません。大企業であれば、あなたがベンダーに引き合わせるべき「業務に一番詳しい人」は、あなたが一度も会ったことのない人かもしれません。せっかく探し出しても、その人はベンダーに時間を割くのを嫌がる可能性だってあります。<br />
          ですが中小企業では、引き合わせるべきはあなたがいつも一緒に仕事をしている方なのではないでしょうか。そうであれば、ベンダーに引き合わせるのもお願いしやすいはずです。</p>
        </div>
      </div>
    </section>
    <section>
      <div class="columns">
        <div class="column-l"></div>
        <div class="column-c">
          <div class="en purple-colored">To Whom</div>
        </div>
        <div class="column-ab">
          <h2>IT導入を誰に相談するべきか</h2>
          <p>準備と心構え、お客様にお願いする話が長く続いてしまいました。ここからは、対外的なアクションの話をします。<br />
          まずは、IT導入を誰に相談するべきか、です。</p>
          <p>ところで話は逸れますが、「プログラマー」と似た言葉に「システムエンジニア」があります。どちらもシステムと呼ばれる何かを作る職業ですが、両者の違いをご存知でしょうか。<br />
          世間では「システムエンジニアはプログラマーの上級職」と捉えることもあり、また小さい会社では兼任していることも多いのですが、この2つの決定的な違いはその役割です。</p>
          <p>プログラマーの役割は、プログラムを書いてシステムを作ることです。一方、<strong>システムエンジニアの役割は、人の動きや帳票類まで含めて業務システムを解析し、またそれを設計すること</strong>です。<br />
          つまり、「システムエンジニア」という言葉を使う場合、その背景には業務システムがあります。業務システムのエンジニアだから「システムエンジニア」なのです。</p>
          <p>さて、本題に入りますが、IT導入は誰に相談すると良いでしょうか。<br />
          お察しの方も多いかと思いますが、それはシステムエンジニアです。人の動きや帳票類まで含めて御社の業務を分析し理解し、御社に適した形の業務を設計してIT導入を成功させることを生業としているのはシステムエンジニアです。<br />
          そして、システムエンジニアはシステム開発会社にいます。ですから、IT導入の相談はシステム開発会社にするのが正解です。</p>
          <p>「ホームページでお世話になったから」とIT導入をウェブ制作会社に相談する方もいるようですが、これはお薦めできません。システム開発部門がある会社でない限り、ウェブ制作会社にシステムエンジニアがいることは稀ですので。</p>
        </div>
      </div>
    </section>
    <section>
      <div class="columns">
        <div class="column-l"></div>
        <div class="column-a">
          <div class="en purple-colored">Selection</div>
        </div>
        <div class="column-bc">
          <h2>システム開発会社の選び方</h2>
          <p>さて、システム開発会社に相談するのが良いのはわかりましたが、システム開発会社もたくさんあります。どのような会社に相談すると良いのでしょうか。<br />
          これについては、ネット上に良い記事がありましたので紹介します。</p>
          <p><a href="https://axia.co.jp/2017-06-16" target="_blank">システム開発会社の選び方 - 株式会社アクシア</a></p>
          <p>この記事は、想定しているIT導入の規模がやや大きめのような気もしますが、書いてある内容は正にその通りだと思います。粗く抜粋すると次の通りです。（下記以外にもいろいろと知見の詰まった記事ですので、ご一読をお薦めします）</p>
          <ul>
            <li>出来合いのソフトで出来ることなら、オーダーメイドより出来合いのソフトの方が安全。安いので</li>
            <li><strong>自社で開発せず下請けに流している会社には注意。</strong>伝言ゲームのせいで対応が遅く不確か。しかも高い</li>
            <li><strong>IT派遣会社（ずっと客先常駐でシステム開発するのが主事業の会社）には注意。</strong>社内で仕事を完遂する能力に欠く</li>
          </ul>
          <p>1番目は、システム開発会社の選び方と関係ありませんが正論です。出来合いのソフトは、安いだけでなく不具合も少ないです。ただし、業務をソフトの方に寄せていく必要がありますので、システムエンジニアでも出来合いのソフトを使うべきか迷うケースは多々あります。安易に安い見積に飛びつくのは禁物です。</p>
          <p>2番目（中抜き会社）は、特定のお客様にとって価値のある会社ですので、多くのお客様、特に中小企業にとっては選ぶ理由がありません。</p>
          <p>3番目（IT派遣会社）は、少し分かりにくいかと思います。普通のシステム開発会社はプロジェクト管理や人員管理を行う能力があります。ですが、IT派遣会社の事業形態ではこういった役割を派遣先が担いますので、社内にこういった役割をこなせる人員がいないのです。だから、社内でプロジェクト管理や人員管理をきちんとして仕事を完遂できるのか、というところに疑問符がついてしまいます。</p>
        </div>
      </div>
    </section>
    <section>
      <div class="columns">
        <div class="column-l"></div>
        <div class="column-c">
          <div class="en purple-colored">Flow</div>
        </div>
        <div class="column-ab">
          <h2>相談した後の流れ</h2>
          <p>ここまでで、IT導入を成功させるための基礎知識の紹介はお終いです。一番大事なのはビジョン、次にコミュニケーション、そして相談する相手を間違えなければ、成功率はグンと上がっているはずです。<br />
          このセクションでは、相談した後の流れを簡単に補足します。</p>
          <p><em>コンタクト</em><br />
          メールや電話でシステム開発会社にコンタクトを取ると、ベンダーの窓口の人が来社します。そこで、IT導入の概要を話すことになります。準備しておいたビジョンをきちんと伝えましょう。その後、ベンダーから何かしら提案が出てくるはずです。</p>
          <p><em>相見積</em><br />
          相見積は取る方が確実です。ITを発注する機会は多くありませんから、ベンダーが出してきた料金が適正かどうかを判断することは難しいです。ただ、オーダーメイドシステムだったりすると見積を出すまでも大変ですので、やり取りするベンダーの数が増えるとその分負担も増えます。</p>
          <p><em>選定</em><br />
          提案が出揃ったら、提案の内容や料金を見ながら選定を進めましょう。地理的な近さ、会社の信頼性といった普遍的な条件も加味しますが、<strong>先方の担当者との相性も考慮すべき</strong>と考えています。<br />
          前述の通り、IT導入ではコミュニケーションが大事です。また、運用開始後のサポートもありますから、ベンダーとの付き合いは長くなることが想定されます。相性は個人の好みの話ではありますが、現実に問題になりそうなら、それを見過ごすべきではありません。</p>
          <p><em>値引き</em><br />
          見積を値切るのは、ほんの数％なら構わないのでしょうが大幅な値引きは要注意です。ベンダーは基本的に根拠のある見積を出してきますので、大幅な値引きに応じてきた場合には、仕事ほしさに無理をしている可能性があります。そういう場合、後になって両者とも苦しむことになることが往々にしてあります。<br />
          それよりは、料金が予算と合わないことを率直に告げて、再度提案してもらう方が良いように感じています。</p>
          <p><em>契約</em><br />
          契約には「請負」と「準委任」の2種類があります。システムを作るのがメインの場合は請負で、提案・支援がメインの場合は準委任になります。この2つの契約形態は性質がまったく違います。ベンダーが適切な方を選ぶはずですが、認識にズレが出てしまった場合は注意が必要です。<br />
          案件の規模が大きい場合は、契約が複数に渡るケースもあります。</p>
        </div>
      </div>
    </section>
    <section>
      <div class="columns">
        <div class="column-l"></div>
        <div class="column-abc">
          <h2 class="purple-colored">最後に</h2>
          <p>最後は駆け足になりましたが、ベンダーと契約したらいよいよ導入の始まりです。<br />
          先の長さに不安を感じる方もいらっしゃるかもしれませんが、最初に述べたように、大事なのはビジョンの準備とコミュニケーションの心構えの2つです。<br />
          この2つを忘れずに進めれば、良いITシステムをきっと導入できます。</p>
          <p>この記事が、IT導入の成功に繋がることを願っています。</p>
          <p><a class="button" href="/services/it-support.html"><i class="material-icons">navigate_next</i> IT導入・業務効率化に戻る</a></p>
        </div>
      </div>
    </section>
  </article>
  <%- include('../../ejsinc/footer') %>
</body>
</html>