<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" class="page-cover">
<head>
  <%- include('../ejsinc/head', {title:null}) %>
  <title>ビビッドカラーズ株式会社（千葉市のシステム開発会社）</title>
  <meta name="description" content="ビビッドカラーズはシステム開発やWebサービス開発を得意とする千葉市のITベンダーです。その活動を通して「気持ちいい！」があふれる社会の実現をめざしています。" />
</head>
<body class="page-cover">
  <%- include('../ejsinc/header') %>
  <div class="site-title">
    <h1>「気持ちいい！」<br />があふれる社会をめざして</h1>
    <p>千葉市のシステム開発「ビビッドカラーズ株式会社」</p>
  </div>
  <%- include('../ejsinc/footer') %>
</body>
</html>
