
  <button id="menu-button" class="icon-button menu-button"><i class="material-icons">menu</i></button>
  <nav id="drawer" class="drawer">
    <button id="drawer-close-button" class="icon-button drawer-close-button"><i class="material-icons">close</i></button>
    <div class="menu">
      <div class="north">
        <a href="/" class="logo"><img src="/assets/img/vividcolors.svg" alt="vividcolors" /></a>
      </div>
      <div class="middle">
        <a href="/about/">ビジョン</a>
        <a href="/services/">サービス</a>
        <a href="/news/">お知らせ</a>
        <a href="/profile/">会社紹介</a>
      </div>
      <div class="south">
        <a href="/privacy/">プライバシー</a>
        <a href="/contact/">お問い合わせ</a>
      </div>
    </div>
  </nav>