/*
 * Preferences
 */

$color-black: #000000;
$color-white: #ffffff;
$color-gray: #666666;
$color-border: #B0B0B0;
$color-border-poor: #FF9999;
$color-drawer: #36363d;
$color-lightgray: #f4f4f4;

$alpha-hover: 0.3;
$alpha-transparent: 0.5;

$line-height: 1.6;

$input-font-size: 16px;

$rem-title-document: 4rem;
$rem-title-section: 2rem;
$rem-title-part: 1.4rem;
$rem-note: 0.85rem;

$height-margin-document: (8rem * $line-height);
$height-margin-section: (4rem * $line-height);
$height-margin-part: (1rem * $line-height);
$height-input: 2.4 * $input-font-size;

$width-padding: (0.5rem * $line-height);
$height-padding: (0.5rem * $line-height);
$width-button-padding: 1.6rem;

$width-gutter: 3rem;
$width-drawer: 12rem;
$width-unit: 45rem;
$width-logo-gap: 2rem;

@mixin for-tablet-up { 
  @media (min-width: 714px) { @content; }
}
@mixin for-tablet {
  @media (min-width: 714px) and (max-width: 1018px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1019px) { @content; }
}

@mixin shadow1() {
  box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.12), 0 0.1rem 0.2rem rgba(0,0,0,0.24);
}
@mixin shadow2() {
  box-shadow: 0 0.3rem 0.6rem rgba(0,0,0,0.16), 0 0.3rem 0.6rem rgba(0,0,0,0.23);
}
@mixin shadow3() {
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.19), 0 0.6rem 0.6rem rgba(0,0,0,0.23);
}
@mixin shadow4() {
  box-shadow: 0 1.4rem 2.8rem rgba(0,0,0,0.25), 0 1rem 1rem rgba(0,0,0,0.22);
}
@mixin shadow5() {
  box-shadow: 0 1.9rem 3.8rem rgba(0,0,0,0.3), 0 1.5rem 1.2rem rgba(0,0,0,0.22);
}

@mixin icon() {
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    vertical-align: middle;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


/**
 * Foundation
 */

html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-size: 12px;
    @include for-tablet {
        font-size: 14px;
    }
    @include for-desktop-up {
        font-size: 16px;
    }
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    padding-bottom: 1px;
}
 
.drawer {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: -1.5 * $width-drawer;
    bottom: 0;
    width: $width-drawer;
    background-color: $color-drawer;
    @include shadow1();
    transition: transform 0.2s ease-in-out;
    z-index: 101;
    &.opened {
        transform: translateX(150%);
        & > .menu-button {
            display:none;
        }
        & div.menu {
            top: 3rem;
        }
    }
    @include for-desktop-up() {
        left: 0;
        & > .menu-button {
            display: none;
        }
    }
    .drawer-close-button {
        position: absolute;
        top: 0;
        right: 0;
        box-shadow: none;
        border:none;
        @include for-desktop-up() {
            display: none;
        }
    }
    a {
        display: block;
        color: $color-white;
        text-decoration:none;
        padding: 0 $width-padding;
        box-sizing: border-box;
        width: 100%;
        line-height: $height-input;
        height: $height-input;
        &:hover {
            background-color: rgba($color-white, $alpha-hover);
        }
        &.logo {
            display: block;
            position: absolute;
            background-color: white;
            height: $rem-title-document;
            left: $width-logo-gap;
            top: $rem-title-part;
            width: $width-drawer;
            text-align:center;
            line-height: $rem-title-document;
            img {
                max-height: 70%;
                max-width: 100%;
                vertical-align: middle;
            }
            &:hover img {
                opacity: 1 - $alpha-hover;
            }
        }
    }
    div.menu {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-flow: column nowrap;
        .north {
            flex: 0 0 auto;
            margin-bottom: $height-margin-part;
            position: relative;
            height: $rem-title-document + 2 * $rem-title-part;
        }
        .south {
            flex: 0 0 auto;
            margin-bottom: $height-margin-part;
        }
        .middle {
            flex: 1 1 auto;
        }
    }
}
 
.menu-button {
    position: fixed;
    z-index: 100;
    background-color: rgba($color-white, $alpha-transparent) !important;
    box-shadow: none;
    border:none;
    &:hover {
        background-color: $color-white !important;
    }
    @include for-desktop-up() {
        display: none !important;
    }
}
 
.page-cover {
    height: 100%;
    body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center 90%;
        background-repeat: no-repeat;
        background-image: url(/assets/img/dive-459506_1920.jpg);
        position: relative;
        @include for-desktop-up() {
            margin-left: $width-drawer;
            width: calc(100% - #{$width-drawer});
        }
        .site-title {
            display: inline-block;
            position: absolute;
            margin: 0;
            padding: $height-padding 0;
            top: 40%;
            left: calc(50% - 14rem);
            width: 28rem;
            color: $color-black;
            background-color: rgba($color-white, $alpha-transparent);
            text-align:center;
            h1 {
                margin:0 0 $height-padding;
                padding:0;
                font-size: $rem-title-section;
                font-weight: normal;
            }
            p {
                margin: 0;
            }
        }
    }
}

small {
    display: block;
    position: absolute;
    bottom: 0;
    right: $width-padding;
    font-size: $rem-note;
    color: $color-black;
}


/**
 * Outline
 * article > sections > top-level-components
 */

 article {
    /*margin-bottom: $height-margin-document;*/
    line-height: $line-height;
    > *:last-child > *:last-child {
        margin-bottom: $height-margin-document !important;
    }
    @include for-desktop-up() {
        margin-left: $width-drawer;
    }
}

.cover, section, .afterword, .section {
    //overflow: hidden;
    width: 100%;
    > * {
        margin: 0 $width-padding $height-margin-part;
        @include for-desktop-up() {
            max-width: $width-unit;
            margin: 0 auto $height-margin-part;
        }
        &:last-child {
            margin-bottom: $height-margin-section;
        }
    }
}
.cover {
    overflow:hidden;
    margin-bottom: $height-margin-section;
}

div.title {
    margin-top: $height-margin-section;
    min-height: 12rem;
    h1 {
        margin: 0 0 $height-margin-part;
        font-size: 1rem;
        font-weight: normal;
        span.en {
            display: block;
            font-family: 'Raleway', sans-serif;
            font-size: $rem-title-document;
            line-height: 1.1;
        }
        span.ja::before {
            display: inline-block;
            content: "──";
            margin-right: 0.5rem;
        }
    }
    p {
        margin: 0;
    }
}

p.preheading {
    color: $color-gray;
    margin-top: 0;
    margin-bottom: 0;
}
h2 {
    margin-bottom: $height-margin-part;
    border-bottom: 2px solid $color-gray;
    position: relative;
    font-weight: normal;
    vertical-align: bottom;
    font-size: $rem-title-section;
    span.ja {
        display: inline-block;
        position: relative;
        z-index: 10;
    }
    span.en {
        display: block;
        position: absolute;
        z-index: 8;
        bottom: 0;
        right: 0;
        font-size: $rem-title-document;
        font-weight: normal;
        line-height: 1;
        font-family: 'Raleway', sans-serif;
        &.red-colored { color:#e5004f; }
        &.orange-colored { color: #f39800;}
        &.purple-colored {color:#920783;}
        &.yellow-colored {color: #fff100;}
        &.green-colored {color: #009944;}
        &.cyan-colored {color: #00a0e9;}
        &.blue-colored {color: #0068b7;}
    }
}


ul {
    margin-bottom: 1rem;
    padding-left: 1rem;
    &.check {
        list-style-type: none;
        li {
            position: relative;
            &::before {
                display: inline-block;
                @include icon();
                content: "\e5ca";
                vertical-align: middle;
                position: absolute;
                top: 0;
                bottom: 0;
                left: -1em;
                line-height: 1em * $line-height;
            }
        }
    }
    &.large {
        font-size: $rem-title-part;
        padding-left: $rem-title-part;
        li .desc {
            display: block;
            font-size: $rem-note;
            color: $color-gray;
        }
    }
}

div.hint {
    display: block;
    background-color: $color-lightgray;
    padding: $height-padding $width-padding;
    h3 {
        font-size: 1rem;
        line-height: 1rem * $line-height;
        height: 1rem * $line-height;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 0;
        &::before {
            @include icon();
            font-size: 1rem * $line-height;
            display: inline-block;
            content: "\e88f";
            vertical-align: middle;
            height: 1rem * $line-height;
            line-height: 1rem * $line-height;
            padding-right: 0.25rem;
        }
    }
    p {
        font-size: $rem-note;
    }
    > *:last-child {
        margin-bottom: 0;
    }
}

table.table {
    width: 100%;
    border-collapse: collapse;
    td {
        border-top: 1px solid #d0d0d0;
        box-sizing: border-box;
        padding: calc(#{$height-padding} - 1px) $width-padding $height-padding;
        &.head {
            background-color: #f0f0f0;
        }
        &.nowrap {
            white-space: nowrap;
        }
        &.right-aligned {
            text-align: right;
        }
    }
}

form {
    margin: 0;
    padding: 0;
}
.field {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-width: 100%;
    overflow: hidden;
    @include for-tablet-up() {
        flex-flow: nowrap;
    }
    & > label[for] {
        width: 100%;
        height: $height-input;
        line-height: $height-input;
        @include for-tablet-up() {
            width: 14rem;
            flex: 0 0 auto;
        }
    }
    &.required > label[for]::after {
        display: inline-block;
        padding-left: $width-padding;
        content: "[必須]";
        font-size: $rem-note;
        color: red;
    }
    .control {
        width: 100%;
        display: block;
        margin-bottom: $height-margin-part;
        @include for-tablet-up() {
            flex: 1 1 auto;
        }
        & > label.error {
            color: red;
            font-size: $rem-note;
            line-height: 1;
        }
    }
}
.form-action {
    @include for-tablet-up() {
        margin-left: 14rem;
    }
}

input {
    width: 100%;
    box-sizing: border-box;
    font-size: $input-font-size;
    height: $height-input;
    line-height: $height-input;
    padding: 0 $width-padding;
    border: 1px solid $color-border;
    outline: none;
    &.error:not(:focus) {
        border: 1px solid $color-border-poor;
    }
}
select {
    width: 100%;
    box-sizing: border-box;
    font-size: $input-font-size;
    height: $height-input;
    line-height: $height-input;
    padding: 0 $width-padding;
    border: 1px solid $color-border;
    outline: none;
    &.error:not(:focus) {
        border: 1px solid $color-border-poor;
    }
}
textarea {
    width: 100%;
    box-sizing: border-box;
    font-size: $input-font-size;
    height: 10 * $height-input;
    line-height: $line-height;
    padding: $height-padding $width-padding;
    border: 1px solid $color-border;
    outline: none;
    &.error:not(:focus) {
        border: 1px solid $color-border-poor;
    }
}
::placeholder {
    color: #bbb;
}
a.button, button.button {
    display: inline-block;
    text-decoration: none;
    background: $color-gray;
    border: none;
    height: $height-input;
    line-height: $height-input;
    padding: 0 $width-button-padding;
    color: $color-white;
    position: relative;
    box-sizing: border-box;
    &:hover {
        background: rgba($color-gray, 1 - $alpha-hover);
    }
    i.material-icons {
        line-height: $height-input;
        height: $height-input;
        vertical-align: middle;
    }
    &.large {
        font-size: $rem-title-part;
        height: $height-input * 1.4;
        line-height: $height-input * 1.4;
        padding: 0 ($width-button-padding * 1.2);
    }
}

button.icon-button {
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    -webkit-appearance: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
    &.hidden {
        display: none;
    }
    &:hover {
        background-color: rgba($color-black, $alpha-hover);
    }
}


.spinner {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-white, $alpha-transparent);
    opacity: 1;
    pointer-events: auto;
    z-index: 200;
    &.hidden {
        pointer-events: none;
        opacity: 0;
    }
    &::after {
        display: block;
        position: absolute;
        content: url(/assets/img/spinner.gif);
        top: calc(50% - 55px);
        left: calc(50% - 55px);
    }
}

.notification {
    display: block;
    position: fixed;
    z-index: 100;
    max-width: 100%;
    width:100%;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    transition: transform 0.2s ease-out;
    background-color: #f0f0f0;
    color: $color-black;
    box-sizing: border-box;
    padding: (2 * $height-padding) (1.5rem + $width-padding) (2 * $height-padding) (2.5rem + 2 * $width-padding);
    @include shadow1();
    @include for-tablet-up() {
        width: auto;
    }
    &.hidden {
        transform: translate(-50%, 100%);
    }
    &.success::before {
        @include icon();
        display: inline-block;
        position: absolute;
        left: $width-padding;
        top: 0;
        bottom: 0;
        font-size: 2.5rem;
        line-height: 2.5rem * $line-height;
        vertical-align: middle;
        content: "\e5ca";
        color: #56cd6a;
    }
    &.failure::before {
        @include icon();
        display: inline-block;
        position: absolute;
        left: $width-padding;
        top: 0;
        bottom: 0;
        font-size: 2.5rem;
        line-height: 2.5rem * $line-height;
        vertical-align: middle;
        content: "\e001";
        color: $color-border-poor;
    }
    .notification-close-button {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.with-float {
    &::after {
        display: block;
        height: 0;
        line-height: 0;
        content: "";
        clear:all;
    }
}
.float-right {
    @include for-tablet-up() {
        float: right;
        margin-left:1rem;
        width:calc(50% - 1rem);
    }
}
.float-left {
    @include for-tablet-up() {
        float: left;
        margin-right:1rem;
        width:calc(50% - 1rem);
    }
}

dl.dl-large {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    dt {
        flex: 0 0 auto;
        width: 9rem;
        padding: calc(#{$height-padding} - 1px) $width-padding $height-padding;
        background-color: #f0f0f0;
        box-sizing: border-box;
        border-top: 1px solid #d0d0d0;
        margin: 0;
    }
    dd {
        flex: 1 1 auto;
        width: calc(100% - 9rem);
        padding: $height-padding $width-padding;
        margin: 0;
        box-sizing: border-box;
        *:last-child {
            margin-bottom: 0;
        }
    }
}

div.contact {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    > div {
        flex: 0 0 auto;
        width: calc(50% - #{$width-gutter * 0.5});
        min-width: 20rem;
        box-sizing: border-box;
        color: white;
        text-align: center;
        padding: ($height-padding + 2rem) $width-padding $height-padding;
        position: relative;
        margin-top: 2rem;
        .medal {
            display: block;
            position: absolute;
            top: -2rem;
            left: 0;
            right: 0;
            width: 4rem;
            height: 4rem;
            margin: auto;
            border-radius: 2rem;
            border-width: 2px;
            border-style: solid;
            border-color: inherit;
            background-color: white;
            color: $color-gray;
            font-size: 3rem;
            i.material-icons {
                font-size: inherit;
            }
        }
        a {
            color: inherit;
        }
    }
    &.red-colored > div { background-color:#e5004f; border-color:#e5004f; }
    &.orange-colored > div { background-color:#f39800; border-color:#f39800;}
    &.purple-colored > div { background-color:#920783; border-color:#920783;}
    &.yellow-colored > div { background-color:#fff100; border-color:#fff100;}
    &.green-colored > div { background-color:#009944; border-color:#009944;}
    &.cyan-colored > div { background-color:#00a0e9; border-color:#00a0e9;}
    &.blue-colored > div { background-color:#0068b7; border-color:#0068b7;}
}


.cover.s-about-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(/assets/img/smooth-2703870_1920.jpg);
    color: $color-white;
}
.cover.s-services-cover {
    background-size: cover;
    background-position: center 60%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/windows-1076116_1920.jpg);
    color: $color-black;
    //text-shadow: 0 0 2px white, 0 0 4px white, 0 0 6px white, 0 0 8px white;
    text-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px -1px 2px white, -1px 1px 2px white;
}
.cover.s-profile-cover {
    background-size: cover;
    background-position: center 65%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/windows-1076116_1920.jpg);
    color: $color-white;
    background-image: url(/assets/img/art-2369664_1920.jpg);
}
.cover.s-news-cover {
    background-size: cover;
    background-position: center 40%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/dandelion-2561575_1920.jpg);
    color: $color-black;
}
.cover.s-privacy-cover {
    background-size: cover;
    background-position: center 40%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/scotland-2658392_1920.jpg);
    color: $color-black;
}
.cover.s-it-support-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: $color-white;
    background-image: url(/assets/img/map-3491355_1920.jpg);
}
.cover.s-launch-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: $color-white;
    text-shadow: 1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black, -1px 1px 2px black;
    background-image: url(/assets/img/map-3491355_1920.jpg);
}
.cover.s-contact-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: $color-white;
    background-image: url(/assets/img/railroad-tracks-480466_1920.jpg);
}
.cover.s-it-success-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: $color-white;
    background-image: url(/assets/img/curve-1209392_1920.jpg);
}
.cover.s-development-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: $color-white;
    background-image: url(/assets/img/curve-1209392_1920.jpg);
}

em.large {
    font-size: $rem-title-section;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-style: normal;
    vertical-align: baseline;
}
span.note {
    font-size: $rem-note;
}
div.focus {
    background-color: $color-lightgray;
    text-align: center;
    padding: $height-padding $width-padding;
    @include for-tablet-up() {
        max-width: 25rem;
        margin-left: auto;
        margin-right: auto;
    }
}